<ion-header>
  <ion-toolbar color="primary">
    <ion-row justify-content-center>
      <ion-col size="1">
        <ion-button fill="clear" (click)="decline()" *ngIf="rtcService.onstate == 'call' || rtcService.onstate == 'accept'">
          <ion-icon name="arrow-back" color="light"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="9" text-center>
        <label style="position: absolute;
        top: 10px;
        left: 40%;">TELEPON</label>
      </ion-col>
      <ion-col size="2">
        <img src="{{user.caller.avatar}}" style="width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        right: 10px;">
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-card-header color="primary">
    <ion-card-title text-center>{{user.callee.name}}</ion-card-title>
    <ion-card-subtitle text-center>{{getState()}}</ion-card-subtitle>
  </ion-card-header>
</ion-header>

<ion-content class="bg-ua">
  <div id="remote" style="width:100%;"></div>
  <!-- <div id="mini" style="height: 0; visibility: hidden;"></div> -->

  <div class="warp-ava">
    <div class="ava-img">
      <img src="{{user.callee.avatar}}">
    </div>
  </div>

  <ion-row justify-content-center *ngIf="rtcService.onstate == 'call' || rtcService.onstate == 'accept'">
    <ion-label (click)="decline()">
      <img src="../../../assets/images/Reject.png" style="    position: absolute;
      width: 50px;
      top: 75%;
      left: 43%;">
    </ion-label>
  </ion-row>

</ion-content>

<ion-footer *ngIf="rtcService.onstate == 'incoming'">
  <div *ngIf="rtcService.onstate == 'incoming'">
    <ion-toolbar color="primary">
      <ion-row justify-content-center>
        <ion-col size="6">
          <ion-button fill="clear" expand="block" (click)="answere()">
            <img src="../../../assets/images/Answere.png" style="width: 36px;
            position: absolute;">
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="clear" expand="block" (click)=" refuse()">
            <img src="../../../assets/images/Reject.png" style="width: 36px;
            position: absolute;">
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </div>
</ion-footer>
