<ion-header>
  <ion-toolbar color="primary" >
    <ion-row no-margin no-padding >
      <ion-col size="2">
        <ion-button (click)="routeService.navigateTo('home')" fill="clear">
          <ion-icon color="light" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8" *ngIf="consultation ">
        <div align="center">
        <ion-item>
          <ion-avatar slot="start">
            <div class="dot-active-user" *ngIf="activedToUser"></div>
            <div class="dot-unactive-user" *ngIf="!activedToUser"></div>
            <img *ngIf="consultation && consultation.conselor" src="{{consultation.conselor.profile.avatar}}" width="80">
          </ion-avatar>
          <ion-label color="light" style="font-size: 12pt; font-family: opensansSemibold" >
            {{consultation.conselor.profile.name | titlecase}} <br>
            <small>{{ socketApi.statusConselor ? 'Aktif': 'Tidak Aktif'}}</small>
          </ion-label>
        </ion-item>
      </div>
      </ion-col>
    </ion-row>
      <!-- <ion-buttons slot="end">
        <ion-button (click)="startVidCall(toUser)">
          <ion-icon color="light" name="videocam"></ion-icon>
        </ion-button>
        <ion-button (click)="startCall(toUser)">
          <ion-icon color="light" name="call"></ion-icon>
        </ion-button>
      </ion-buttons> -->
      
    </ion-toolbar>

    <!-- SKELETON TEXT LOAD -->
    <ion-toolbar *ngIf="onload" color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="routeService.navigateTo('home')">
            <ion-icon color="light" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 60%" ></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content #IonContent >
  <div >
    <ion-list *ngIf="msgList && msgList.length > 0">
        <div *ngFor="let chat of msgList; let i = index; ">
          <ion-row *ngIf="chat.userId == toUser">
            <ion-col class="right" no-padding [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}">
              <div class="imageAvatarRight">
                <div class="imageAvatarBottom">
                  <ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].userId == chat.userId)?'hidden':''">
                    <!-- <div class="imageAvatarBottomIcon">
                      <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                    </div> -->
                    <ion-img [src]="chat.userAvatar"></ion-img>
                  </ion-avatar>
                </div>
                <ion-label color="light">
                  <div style="min-width: 100px;" class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) && 
                  (msgList[i-1] && msgList[i-1].userId == chat.userId)),
                  'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
                  'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}">
                    <p text-wrap style="padding: 5px; color: black;">
                      <!-- <img width="200" src="../../assets/chat/user1.jpeg"> <br> -->
                      {{chat.message}}
                    </p>
                    <small style="margin: 10px;
                      color: black;
                      text-align: right;
                      width: 100%;
                      position: relative;
                      left: 45%;">
                        {{chat.time}} 
                      </small>
                    <div class="corner-parent-right">
                      <div class="corner-child-right">
    
                      </div>
                    </div>
                  </div>
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="chat.userId == User">
            <ion-col class="left" no-padding [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}">
              <div class="imageAvatarLeft">
                <ion-label color="light">
                  <div style="min-width: 100px;" class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) && 
                  (msgList[i-1] && msgList[i-1].userId == chat.userId)),
                  'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
                  'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}">
                    <p text-wrap style="padding: 5px; color: black; ">{{chat.message}}</p>
                    <small style="margin: 10px; color: black; ">
                        {{chat.time}} <ion-icon color="dark" name="{{chat.isReaded ? 'done-all': 'checkmark'}}"></ion-icon> 
                      </small>
                    <div class="corner-parent-left">
                      <div class="corner-child-left">
    
                      </div>
                    </div>
                  </div>
                </ion-label>
                <div class="imageAvatarBottom">
                  <!-- <ion-icon class="imageAvatarBottomIcon" name="add" expand="icon-only" color="success"></ion-icon> -->
                  <ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].userId == chat.userId)?'hidden':''">
                    <!-- <div class="imageAvatarBottomIcon">
                      <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                    </div> -->
                    <ion-img [src]="chat.userAvatar"></ion-img>
                  </ion-avatar>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])" >
            <ion-col>
              <ion-text>{{chat.time}}</ion-text>
            </ion-col>
          </ion-row>
        </div>
    </ion-list>
  </div>
  <div *ngIf="methode != 'Chat'" style="width: 100%; padding-top: 20px; text-align: center;">
    <div align="center" >
      <div style="text-align: center;
      padding: 8px;
      margin-top: 10px;
      width: 80%;
      font-size: 10pt;
      background-color: #d4d4d4;
      border-radius: 20px;
      color: #004884;
      padding-top: 1px;">
        <p>Silahkan melakukan konseling sesuai dengan jadwal yang telah dipilih. Ubah jadwal hanya dapat dilakukan satu hari sebelum konseling dimulai</p>
      </div>
    </div>
  </div>

  <div align="center" *ngIf="msgList.length == 0">
    <div style="text-align: center;
    padding: 8px;
    margin-top: 10px;
    width: 80%;
    font-size: 10pt;
    background-color: #d4d4d4;
    border-radius: 20px;
    color: #004884;
    padding-top: 1px;">
      <p>Silahkan melakukan konseling sesuai dengan jadwal yang telah dipilih. Ubah jadwal hanya dapat dilakukan satu hari sebelum konseling dimulai</p>
    </div>
  </div>
  <!-- <div *ngIf="!onload">
    <ion-row justify-content-center margin *ngIf="!actived_chat ">
      Anda belum melakukan konseling
    </ion-row>
  </div> -->
</ion-content>
<ion-footer *ngIf="consultation && !consultation.result ">
    <ion-row>
      <ion-col size="10">
        <ion-input class="input-box" type="text" placeholder="Tulis Pesan..." [(ngModel)]="user_input" ></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-button color="primary" (click)="sendMsg()">
          <ion-icon color="light" name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row no-margin no-padding>
      <ion-col size="2">
        <div class="on-icon" style="border-style: solid;
        border-width: 0;
        border-radius: 50%;
        width: 40px;
        align-content: center;
        position: relative;
        left: 2px;
        padding: 1px;
        box-shadow: 0px 0px 0 3px #f0e8e8;
        height: 39px;">
          <img style="width: max-content;" src="../../assets/images/Foto.png" width="38">
        </div>
      </ion-col>
      <ion-col size="10" >
        <div class="new-input-warp">
          <form action="/action_page.php" style="max-width:500px;margin:auto">
            <div class="input-container">
              <i ><ion-icon name="image"></ion-icon></i>
              <i class="second-icon"><ion-icon name="mic"></ion-icon></i>
              <input class="input-field" type="text" placeholder="Ketik pesan..." name="usrnm">
            </div>
    
          </form>
        </div>
      </ion-col>
    </ion-row> -->
  </ion-footer>
