<ion-content class="bg-ch-password">
  <ion-row style="font-size: 18pt;">
    <ion-col size="3">
      <ion-button color="light" fill="clear" (click)="navigateTo('login')">
        <ion-icon name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="9">
      <b style="color: white; text-align: center; position:relative; margin-left: 23px;
      top: 10px;">Lupa Kata Sandi</b>
    </ion-col>
  </ion-row>
  <div class="regist-content" style="position: relative; top: 15%;">
      <ion-card-content padding>
        <label style="margin-left: 12%; color: white">Email *</label>
        <div style="margin: 5px;" align="center">
          <input type="text" placeholder="Tuliskan Email" [(ngModel)]="formEmail.email">
        </div>
      </ion-card-content>
  </div>
  
  <div class="footer-ch-password">
    <ion-row justify-content-center>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
          <button style="background-color: #004883;
          color: white;
          width: 85%;
          height: 37px;
          border-radius: 20px;" (click)="doSend()" >Kirim</button>
        <!-- <ion-button mode="ios" expand="block" color="primary" >KIRIM</ion-button> -->
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </div>
</ion-content>
