<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="doBack()">
        <ion-icon name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >
      <ion-row justify-content-center>
        Formulir Pengaduan
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-form-complaint" #IonConten>
  
  <ion-card-content>

    <!-- <div style="margin-top: 5px;">
      <ion-label color="light">Jenis Kekerasan *</ion-label>
      <ion-item lines="none">
        <ion-label>{{labelCategory}}</ion-label>
        <ion-select (ionChange)="selectedCategory($event)" [interfaceOptions]="customActionSheetOptions"  interface="action-sheet" placeholder="Pilih Kategori" slot="end" selectedText=" ">
          <ion-select-option *ngFor="let category of categories" value="{{category._id}}">
            {{category.category}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-label color="light">Tanggal</ion-label>
      <ion-item lines="none">
        <input type="text" placeholder="Tanggal Kejadain" >
      </ion-item>
    </div>

    <div style="margin-top: 5px">
      <ion-label color="light">Keterangan</ion-label>
      <ion-item lines="none">
        <p *ngIf="formComplaint.information">
          {{formComplaint.information}}
        </p>
      </ion-item>
    </div> -->

    <div style="margin-top: 5px">
      <ion-label color="light">Ceritakan Masalah yang Dialami *</ion-label>
      <ion-item lines="none">
        <ion-textarea [(ngModel)]="formComplaint.story" rows="18" placeholder="Ketik disini untuk menceritakan masalah yang kamu alami" (click)="scrollDown()"></ion-textarea>
      </ion-item>
    </div>
    
    <div style="margin-top: 5px">
      <ion-button expand="block" color="primary" (click)="doPost()">
        SIMPAN
      </ion-button>
    </div>

  </ion-card-content>

</ion-content>
