<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="doBack()">
        <ion-icon name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="width: 90%">
      <ion-row justify-content-center>
        Buat Pertanyaan
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="before-chat" style="position: relative;top: 15%;">
    <ion-card-content>
      <div>
        <label style="margin-left: 12%; ">Nama Anda *</label>
        <div style="margin: 5px;" align="center">
          <input type="text" placeholder="Nama Lengkap" [(ngModel)]="formPertanyaan.name">
        </div>
        <label style="margin-left: 12%; ">Usia *</label>
        <div style="margin: 5px;" align="center">
          <input type="number" min="0" placeholder="Usia" [(ngModel)]="formPertanyaan.age" (change)="checkAge()">
        </div>
        <label style="margin-left: 12%; ">Pertanyaan Anda *</label>
        <div style="margin: 5px;" align="center">
          <textarea rows="6" [(ngModel)]="formPertanyaan.question" placeholder="Pertanyaan singkat anda"></textarea>
        </div>

        <ion-button expand="block" color="primary" (click)="startChat()">Kirim</ion-button>
        <!-- <ion-row>
        </ion-row> -->
      </div>
    </ion-card-content>
  </div>
</ion-content>
