/**
 * Chatter - Chat themes Ionic 4 (https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 * 
 */


//  ion-content {
//     --background: radial-gradient(at 0 50%,rgb(173, 42, 162),#5B2573);
//   }
//   ion-header{
//     --background: #5B2573
//   }
ion-toolbar,
ion-item {
  --background: transparent;
}
ion-list {
  background: transparent;
  padding-top: 20px;
  margin-bottom: 0;
}
.imageAvatarRight {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .imageAvatarBottom {
    max-width: 214px;
    align-items: flex-end;
    display: flex;
    border-radius: 50%;
    // background: #5B2573;
    position: relative;
    top: 6px;
    z-index: 11;
  }
  .avatar {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imageAvatarBottomIcon {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background: var(--ion-color-tertiary-tint);
    position: absolute;
    top: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10.1%;
    color: white;
  }
  .chatDiv {
    text-align: justify;
    position: relative;
    background: #9164ac7a;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    // margin-bottom: 14px;
    // min-width: 72vw;
    max-width: 72vw;
    box-shadow: -1px 1px 5px rgba(0,0,0,0.2);
  }
  ion-img {
    width: 35px;
    height: 35px;
  }
  .sharper {
    &.chatDiv {
      border-radius: 0;
    }
  }
  .sharper-bottom {
    &.chatDiv {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .sharper-top {
    &.chatDiv {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}


.imageAvatarLeft {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .imageAvatarBottom {
    max-width: 214px;
    align-items: flex-end;
    display: flex;
    border-radius: 50%;
    // background: #5B2573;
    position: relative;
    top: 6px;
    z-index: 11;
  }
  .avatar {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imageAvatarBottomIcon {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background: var(--ion-color-tertiary-tint);
    position: absolute;
    top: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10.1%;
    color: white;
  }
  .chatDiv {
    text-align: left;
    position: relative;
    background: rgb(32,177,212);
    border-radius: 6px;
    border-bottom-right-radius: 0;
    // margin-bottom: 14px;
    // min-width: 72vw;
    max-width: 72vw;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  }
  ion-img {
    width: 35px;
    height: 35px;
  }
  .sharper {
    &.chatDiv {
      border-radius: 0;
    }
  }
  .sharper-bottom {
    &.chatDiv {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .sharper-top {
    &.chatDiv {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
ion-fab-button {
  width: 47px !important;
  height: 47px !important;
}
ion-fab {
  bottom: -22px !important;
}
.dot-active-user {
  width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: #1efc1e;
    position: absolute;
    left: 45px;
}
.dot-unactive-user {
  width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: red;
    position: absolute;
    left: 45px;
}
.footerIcon {
  color: rgba(244, 245, 248, 0.7);
}
ion-input {
  --placeholder-color: rgba(27, 27, 27, 0.7);
}
.chatDivLoader {
  position: relative;
  background: #9164ac7a;
  border-radius: 16px;
  min-width: 80px;
  max-width: 80px;
  display: flex;
  align-items: center;
  color: white;
  padding: 2px;
  display: flex;
  justify-content: center;
  .corner-parent-right{
    background: #9164ac7a;
    height: 10px;
    width: 10px;
    position: absolute;
    left: -4px;
    bottom: -2px;
    border-radius: 0;
    border-radius: 5px;
    .corner-child-right{
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background: #9164ac7a;
      position: absolute;
      top: 7px;
      left: -7px;
    }
  }
}
ion-text {
  font-size: 12px;
  color: #d7d8dac7;
}
ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageAvatarBottomLoader {
  max-width: 214px;
  align-items: flex-end;
  display: flex;
  border-radius: 50%;
  position: relative;
  top: 8px;
  z-index: 11;
}
.hidden {
  visibility: hidden;
}
.loading-col{
  justify-content: flex-start;
  padding-left: 20px;
}

.right{
  justify-content: flex-start;
  padding-left: 20px;
}
.left{
  justify-content: flex-end;
  padding-right: 20px;
}

.clubbed {
  .imageAvatarRight {
    .chatDiv {
      .corner-parent-right{
        height: 30px;
        width: 30px;
        background: transparent;
        position: absolute;
        left: -30px;
        bottom: 0;
        overflow: hidden;
        border-radius: 0;
        .corner-child-right{
          width: 30px;
          height: 30px;
          border-radius: 15px;
          background: transparent;
          box-shadow: 15px 12px 0 0px #9164ac7a;
        }
      }
    }
  }
  .imageAvatarLeft {
    .chatDiv {
      .corner-parent-left{
        height: 30px;
        width: 30px;
        background: transparent;
        position: absolute;
        right: -30px;
        bottom: 0;
        overflow: hidden;
        border-radius: 0;
        .corner-child-left{
          width: 30px;
          height: 30px;
          border-radius: 15px;
          background: transparent;
          box-shadow: -15px 12px 0 0px #20b1d4;
        }
      }
    }
  }
}
.input-box{
  color: rgb(0, 0, 0);
}

.new-input-warp {
  padding: 10px;
  padding-bottom: 0;
  width: 100%;
  margin-top: 4px;
  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    border-radius: 20%;
    margin-bottom: 15px;
    position: relative;
  }
  
  .icon {
    padding: 10px;
    color: black;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 20px;
  }
  .input-container i { 
    position: absolute;
    right: 15px;
    top: 8px;
    font-size: 18pt;
          } 
          .input-container i.second-icon { 
            position: absolute;
            right: 50px;
            top: 8px;
            font-size: 18pt;
          } 
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }

  .on-icon {
    border-style: solid;
    border-width: 7px;
    border-radius: 50%;
    width: 90%;
    align-content: center;
    position: relative;
  }
  
  /* Set a style for the submit button */
  .btn {
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
}

.before-chat {
    .bg-regist {
        // position: relative;
        --background: url('../../../assets/images/bg_app.png') 0 0/100% 100% no-repeat;
    }
    .avatar-element {
        position: relative;
        width: 80%;
        .btn-camera {
            position: absolute;
            left: 23%;
            top: 50%;
            font-size: 33px;
        }
    }
    input, select, textarea {
        border: 1px solid var(--ion-color-primary, #0cd1e8)  ;
        border-radius: 10px ;
        padding: 5px 17px;
        width: 80%;
      }
    
      // * {box-sizing: border-box;}
    
    /* Style the input container */
    .input-container {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      width: 80%;
      margin-bottom: 5px;
      border: 0.5px solid #8a8ad9;
      border-radius: 10px ;
      background-color: white;
    }
    
    select {
      background-color: white !important;
    }
    
    /* Style the form icons */
    .icon {
      padding: 5px;
        padding-right: 10px;
        color: #4a29dd;
        min-width: 20px;
        max-width: 25px;
        text-align: right;
    }
    
    /* Style the input fields */
    .input-field {
      width: 100%;
      padding: 10px;
      outline: none;
      
      width: 100%;
        padding: 6px;
        outline: none;
        background: none;
        border: 0;
    
    }
    
    // .input-field:focus {
    //   border: 2px solid dodgerblue;
    // }
    
    /* Set a style for the submit button */
    .btn {
      background-color: dodgerblue;
      color: white;
      padding: 15px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    
    
}