
<ion-content class="bg-regist">
  <ion-row>
    <ion-col size="4">
      <ion-button color="light" fill="clear" (click)="routeService.navigateTo('login')">
        <ion-icon name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="5">
      <ion-card-content>
        <b style="color: white">Buat Akun Baru</b>
      </ion-card-content>
    </ion-col>
  </ion-row>
  <div class="regist-content">
    <ion-card-content padding>
      <label style="margin-left: 12%; color: white">Nama Pengguna *</label>
      <div style="margin: 5px;" align="center">
        <input type="text" placeholder="Nama Lengkap" [(ngModel)]="formRegist.name">
      </div>

      <label style="margin-left: 12%; color: white">Email *</label>
      <div style="margin: 5px;" align="center">
        <input type="email" placeholder="Email" [(ngModel)]="formRegist.email">
      </div>

      <label style="margin-left: 12%; color: white">Kata Sandi *</label>
      <div style="margin: 5px;" align="center">
        <input type="password" placeholder="Kata Sandi" [(ngModel)]="formRegist.password">
      </div>
      <small style="    margin-left: 12%;
      color: white;
      position: relative;
      top: -9px;">Catatan: Kata sandi harus diisi minimal 6 karakter</small>
      <br>
      <label style="margin-left: 12%; color: white">Jenis Kelamin *</label>
      <div style="margin: 5px;" align="center">
        <select color="warning"  [(ngModel)]="formRegist.gender">
          <option selected disabled value="">Pilih Jenis Kelamin</option>
          <option value="women" >Wanita</option>
          <option value="men" >Pria</option>
        </select>
      </div>

      <label style="margin-left: 12%; color: white">Tempat Lahir *</label>
      <div style="margin: 5px;" align="center">
        <input type="text" placeholder="Tempat Lahir" [(ngModel)]="formRegist.birth_place">
      </div>

      <label style="margin-left: 12%; color: white">Tanggal Lahir *</label>
      <div style="margin: 5px;" align="center">
        <input type="text" placeholder="Tanggal Lahir" 
        onkeydown="return false" onkeyup="return false" 
        [(ngModel)]="bod" (click)="openCalendar()">
      </div>
      <label style="margin-left: 12%; color: white">Alamat *</label>
      <div style="margin: 5px;" align="center">
        <input type="text" placeholder="Tuliskan alamat" [(ngModel)]="formRegist.address">
      </div>

      <label style="margin-left: 12%; color: white">Pekerjaan *</label>
      <div style="margin: 5px;" align="center">
        <input type="text" placeholder="Pekerjaan" [(ngModel)]="formRegist.job">
      </div>

      <label style="margin-left: 12%; color: white">Status Perkawinan *</label>
      <div style="margin: 5px;" align="center">
        <select  [(ngModel)]="formRegist.marital_status">
          <option selected disabled value="">Pilih Status Perkawinan</option>
          <option value="cerai">Cerai</option>
          <option value="cerai-mati">Cerai Mati</option>
          <option value="belum-nikah">Belum Menikah</option>
          <option value="nikah">Menikah</option>
        </select>
      </div>
      <label style="margin-left: 12%; color: white">Agama *</label>
      <div style="margin: 5px;" align="center">
        <select  [(ngModel)]="formRegist.agama">
          <option selected disabled value="">Pilih Agama</option>
          <option value="islam">Islam</option>
          <option value="kristen-protestan">Kristen Protestan</option>
          <option value="kristen-katolik">Kristen Katolik</option>
          <option value="hindu">Hindu</option>
          <option value="budha">Budha</option>
          <option value="konghucu">Konghucu</option>
        </select>
      </div>
      
      <label style="margin-left: 12%; color: white">Usia *</label>
      <div style="margin: 5px;" align="center">
        <input type="number" placeholder="Usia" [(ngModel)]="formRegist.age" (change)="checkUsia()">
      </div>

      <label style="margin-left: 12%; color: white">Kartu Tanda Pengenal *</label>
      <div style="margin: 5px;" align="center">
        <div class="input-container">
          <input class="input-field"  type="text" 
          placeholder="Kartu Tanda Pengenal" 
          [(ngModel)]="ktpName" 
          onkeydown="return false" onkeyup="return false" 
          (click)="selectOptionGetImage('ktp')">
          <i class="icon">
            <img src="../../../assets/images/Dokumen.png" width="10">
          </i>
        </div>
      </div>

      

      <label style="margin-left: 12%; color: white">Foto Profil *</label>
      <div style="margin: 5px;" align="center">
        <div class="input-container">
          <input type="text" class="input-field" placeholder="Foto Profil"
            onkeydown="return false" onkeyup="return false"
            [(ngModel)]="fotoName" (click)="selectOptionGetImage('pp')" >
          <i class="icon">
              <img src="../../../assets/images/Dokumen.png" width="10">
            </i>
        </div>
      </div>
      <div style="margin: 5px;" hidden>
        <ion-item>
          <ion-label ><ion-icon name="calendar"></ion-icon></ion-label>
          <ion-datetime id="cal-hide" (ionChange)="normalizeDate()" 
          [(ngModel)]="formRegist.birth" placeholder="Tanggal Lahir" display-format="MM-DD-YYYY" min="1995" max="2004"></ion-datetime>
        </ion-item>
      </div>
      <ion-row>
       <ion-col size="1"></ion-col>
       <ion-col size="10">
         <div style="margin-top: 40px">
            <ion-button expand="block" color="primary" (click)="checkRegist()" 
            disabled="{{
              formRegist.email == '' || formRegist.agama == '' ||
              formRegist.name == ''  || formRegist.job == '' || 
              formRegist.password == '' || formRegist.marital_status == '' ||
              bod == '' || 
              formRegist.birth_place == '' ||
              formRegist.usia == 0  || formRegist.usia == '' 
            }}">Simpan</ion-button>
            <!-- <ion-button expand="block" color="warning" (click)="checkRegist()" >Simpan</ion-button> -->
         </div>
       </ion-col>
       <ion-col size="1"></ion-col>
     </ion-row>


    </ion-card-content>
    
  </div>
</ion-content>
