<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center style="width: 90%">Verifikasi</ion-title>
    <!-- <ion-row justify-content-center style="color: #004884">
    </ion-row> -->
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


  <ion-card-content>
    <ion-row justify-content-center>
      <ion-label color="primary"><b>Menunggu verifikasi dari konselor</b></ion-label>
    </ion-row>
  </ion-card-content>
  <div class="footer-status">
    <ion-card-content>
      <p style="color: #004884; text-align: center">
      <ion-note style="color: #004884">
        Terima kasih telah melakukan pengaduan kekerasan seksual!
      </ion-note>
      </p>
      <p style="color: #004884; text-align: center; margin-top: 5%">
      <ion-note style="color: #004884">
        Informasi untuk kamu. hasil verifikasi akan dikirimkan melalui email yang didaftarkan pada laman ini. Waktu verifikasi membutuhkan kurang lebih 30 menit.
      </ion-note>
      </p>
    <br><br>
    <p style="color: #004884; text-align: center">
      <ion-note style="color: #004884">
        Apabila pengaduan disetujui, silahkan memilih jadwal untuk memulai konseling. Apabila jadwal pengaduan belum disetujui, silahkan ikuti arahan yang dikirimkan ke email kamu.
      </ion-note>
    </p>
    </ion-card-content>
  </div>
</ion-content>
