<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>Riwayat Percakapan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #IonContent>
    <ion-list *ngIf="msgList && msgList.length > 0">
        <div *ngFor="let chat of msgList; let i = index; ">
          <ion-row *ngIf="chat.userId == toUser">
            <ion-col class="right" no-padding [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}">
              <div class="imageAvatarRight">
                <div class="imageAvatarBottom">
                  <ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].userId == chat.userId)?'hidden':''">
                    <!-- <div class="imageAvatarBottomIcon">
                      <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                    </div> -->
                    <ion-img [src]="chat.userAvatar"></ion-img>
                  </ion-avatar>
                </div>
                <ion-label color="light">
                  <div style="min-width: 100px;" class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) && 
                  (msgList[i-1] && msgList[i-1].userId == chat.userId)),
                  'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
                  'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}">
                    <p text-wrap style="padding: 5px; color: black;">
                      <!-- <img width="200" src="../../assets/chat/user1.jpeg"> <br> -->
                      {{chat.message}}
                    </p>
                    <small style="margin: 10px;
                      color: black;
                      text-align: right;
                      width: 100%;
                      position: relative;
                      left: 45%;">
                        {{chat.time}} 
                      </small>
                    <div class="corner-parent-right">
                      <div class="corner-child-right">
    
                      </div>
                    </div>
                  </div>
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="chat.userId == User">
            <ion-col class="left" no-padding [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}">
              <div class="imageAvatarLeft">
                <ion-label color="light">
                  <div style="min-width: 100px;" class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) && 
                  (msgList[i-1] && msgList[i-1].userId == chat.userId)),
                  'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
                  'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}">
                    <p text-wrap style="padding: 5px; color: black; ">{{chat.message}}</p>
                    <small style="margin: 10px; color: black; ">
                        {{chat.time}} <ion-icon color="dark" name="{{chat.isReaded ? 'done-all': 'checkmark'}}"></ion-icon> 
                      </small>
                    <div class="corner-parent-left">
                      <div class="corner-child-left">
    
                      </div>
                    </div>
                  </div>
                </ion-label>
                <div class="imageAvatarBottom">
                  <!-- <ion-icon class="imageAvatarBottomIcon" name="add" expand="icon-only" color="success"></ion-icon> -->
                  <ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].userId == chat.userId)?'hidden':''">
                    <!-- <div class="imageAvatarBottomIcon">
                      <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                    </div> -->
                    <ion-img [src]="chat.userAvatar"></ion-img>
                  </ion-avatar>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])" >
            <ion-col>
              <ion-text>{{chat.time}}</ion-text>
            </ion-col>
          </ion-row>
        </div>
    </ion-list>
</ion-content>
