<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>Data Konseling</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="5">No</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="6">{{dataConseling.id}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Tanggal Konseling</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="6">{{dataConseling.schedule.schedule_date}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Konseling Ke-</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="6">1</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Nama Remaja</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="6">{{dataConseling.patient.profile.name}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Tempat/Tanggal Lahir</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="6">{{dataConseling.patient.profile.birth.split("T")[0]}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Nama Konselor</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="6">{{dataConseling.conselor.profile.name}}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-header>
      <ion-row justify-content-center text-center>
        <ion-col size="3">
          <div class="divider"></div>
        </ion-col>
        <ion-col size="6">
          Hasil Konseling
        </ion-col>
        <ion-col size="3">
          <div class="divider"></div>
        </ion-col>
      </ion-row>
    </ion-header>
    <ion-card-content *ngIf="dataConseling.result">
      <p>{{dataConseling.result}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
