<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="doBack()">
        <ion-icon name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="width: 90%">
      <ion-row justify-content-center>
        Tanya Konselor
      </ion-row>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="createQuestion()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="formSearch" (ionChange)="searchQuestion()"></ion-searchbar>

  <div *ngIf="!onLoad"> 
    <ion-card-content *ngIf="listQuestion && listQuestion.length > 0">
      <ion-card *ngFor="let quest of listQuestion" (click)="detail(quest)">
        <ion-card-title style="margin-left: 10px;">{{quest.name}}</ion-card-title>
        <ion-card-subtitle style="margin-left: 10px;">{{quest.question}}</ion-card-subtitle>
        <ion-card-content> <q>{{quest.answered}}</q> </ion-card-content>
      </ion-card>
    </ion-card-content>
  </div>

  <div *ngIf="onLoad">
    <ion-list>
      <ion-item *ngFor="let skel of skeletonLoad">
        <ion-label>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

<!-- <ion-footer *ngIf="!beforeChat">
   <ion-row >
        <ion-col size="10">
          <ion-input class="input-box" type="text" placeholder="Tulis Pesan..."  ></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-button color="primary" (click)="sendMsg()">
            <ion-icon color="light" name="send"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
</ion-footer> -->
