<ion-header>
    <ion-toolbar mode="md" color="primary">
      <ion-row justify-content-center>
        <ion-col size="1" align-self-start>
          <ion-buttons>
            <ion-button  fill="clear" slots="icon-only" (click)="closeModal()">
              <ion-icon name="arrow-back" color="light"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col align-self-start>
          <ion-title mode="md" style="margin-top:1%">{{ sc ? 'Ubah Jadwal': 'Pengaturan Jadwal'}}</ion-title>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div *ngIf="!onLoad">
      <ion-calendar  [format]="'YYYY-MM-DD'" (click)="checkSchedule()"  [(ngModel)]="selectedDate" [options]="optionsCalendar">
      </ion-calendar>
      <ion-item-divider></ion-item-divider>
    
      <ion-card-content>
        <div style="padding: 5px; color: #004884">
          <ion-label>Nama Konselor : <br>&nbsp;&nbsp;&nbsp;&nbsp;{{detail.conselor.profile.name | titlecase}}</ion-label><br>
        </div>
        <div style="padding: 5px; color: #004884">
          <ion-label>Waktu Konseling</ion-label><br>
          <select [(ngModel)]="formSchedule.time">
            <option selected disabled value="">Pilih Waktu Konsultasi</option>
            <option value="off" *ngFor="let time of times" value="{{time.time}}" >{{time.text}}</option>
          </select>
        </div>
        <div style="padding: 5px; color: #004884">
          <ion-label>Metode Konseling</ion-label><br>
          <select  [(ngModel)]="formConseling.methode">
            <option selected disabled value="">Pilih Metode Konsultasi</option>
            <option value="Chat">Chat</option>
            <option value="Call">Telpon</option>
            <option value="Video Call">Video Call</option>
          </select>
        </div>
    
      </ion-card-content>
    </div>
    
  </ion-content>
<ion-footer>
  <div style="padding: 5px">
    <ion-button expand="block" color="primary" (click)="doPost()">Simpan</ion-button>
  </div>
</ion-footer>
