<ion-searchbar [(ngModel)]="formSearch" (ionChange)="doSearch()"></ion-searchbar>
  <ion-segment color="primary" *ngIf="formSearch != ''">
    <ion-segment-button value="friends">
      <ion-label>Percakapan</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>Hasil Konseling</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="!onload">
    <ion-row justify-content-center margin *ngIf="!conseling || 1 > conseling.length  ">
      Anda belum melakukan konseling
    </ion-row>
  </div>
  <div *ngIf="conseling && conseling.length > 0 && !onload">
    <ion-row *ngFor="let consel of conseling">
      <div style="width: 100%">
          <ion-item lines="none">
            <ion-avatar>
              <img src="{{consel.patient.profile.avatar}}">
            </ion-avatar>
            <ion-label margin>
              {{consel.patient.profile.name | titlecase}}
            </ion-label>
            <ion-note slot="end" >{{consel.schedule.schedule_date}}</ion-note>
          </ion-item>
          <p style="margin-right: 8%" *ngIf="!consel.result"><i style="font-size: 9pt">Konselor belum memberikan hasil</i></p>
          <ion-row justify-content-end>
            <ion-col  size="6" >
              <ion-button *ngIf="consel.methode == 'Chat'" expand="block" size="small" color="primary" (click)="openLogChat(consel)">Percakapan</ion-button>
            </ion-col>
            
            <ion-col  size="6">
              <ion-button  expand="block" size="small" color="primary" (click)="openResult(consel)">Hasil Konseling</ion-button>
            </ion-col>
          </ion-row>
          <div class="divider"></div>
      </div>
    </ion-row>
  </div>
  
  <!-- Skeleton screen -->
  <div *ngIf="onload">
      <ion-list>
        <ion-item >
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item >
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item >
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item >
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item >
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item >
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  