.container- {
    position: relative;
  }
  
  .center- {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  #circle {
    margin-top: 25%;
    width: 300px;
    height: 250px;
    background: #004884;
    border-radius: 50%;
    color: white;
  }