
<div  style="position: absolute;
width: 10px;
height: 100px;
background-color: #004884;
left: 50%;
top: 14%;"></div>
<div style="width: 100%; position: relative;">
  <b style="position: absolute; left: 10px;">{{mon}} {{year}}</b>
  <table style="width: 100%;
  position: absolute;
  top: 26px;
  margin-left: 17px;">
    <tr>
      <td style="width: 10%;">{{dt[0]}}</td>
      <td style="width: 10%;">{{dt[1]}}</td>
      <td style="width: 10%;">{{dt[2]}}</td>
      <td style="width: 10%;">
        <div *ngIf="!firstTime" style="width: 50%;
        height: 25px;
        border-radius: 20px;
        background-color: #004884;
        color: white;
        text-align: center;" >
          {{dt[3]}}
        </div>
      </td>
      <td style="width: 10%;">{{dt[4]}}</td>
      <td style="width: 10%;">{{dt[5]}}</td>
      <td style="width: 10%;">{{dt[6]}}</td>
    </tr>
  </table>
  
</div>

<div *ngIf="scheduler && !onload">
    <ion-card-content padding margin>
      <ion-row justify-content-center>
        <div id="circle">
          <p  style="text-align: center;
          position: relative;
          top: 16%;
          width: 62%;
          left: 18%;">
            {{scheduler.schedule.schedule_date}}<br> {{scheduler.schedule.time}}
          </p>
          <p style="text-align: center;
          position: relative;
          top: 30%;
          width: 62%;
          font-size: 16pt;
          left: 18%;">{{scheduler.methode}}
          </p>
          <p style="position: relative;    top: 42%;
          text-align: center;" *ngIf="scheduler.status == 0 ">
            KONSELING <br> {{scheduler.conselor.profile.name | titlecase}} 
          </p>
        </div>
      </ion-row>
    </ion-card-content>
  </div>
  <div *ngIf="!scheduler && !onload">
    <ion-row justify-content-center>
      <div id="circle">
        <p style="text-align: center;
          position: relative;
          top: 40%;
          width: 62%;
          left: 18%;">
            Silahkan Atur Jadwal Terlebih Dahulu <br>
            <a href="javascript:void(0)" style="color: white" (click)="openModal()"><b>Buat Jadwal</b></a>
          </p>
      </div>
    </ion-row>
  </div>
  <div *ngIf="onLoad" style="position: absolute;
  bottom: 30px;
  right: 20px;">
    <ion-fab-button color="primary" (click)="editSchedule()">
      <ion-icon name="calendar"></ion-icon>
    </ion-fab-button>
    <small style="color: #004884;" (click)="editSchedule()">Edit Jadwal</small>
  </div>

  <div *ngIf="onload && !firstTime">
    <ion-row justify-content-center>
      <div id="circle">
        <p style="text-align: center;
        position: relative;
        top: 30%;
        width: 62%;
        left: 18%;"><ion-skeleton-text animated style="width: 90%"></ion-skeleton-text></p>
        <p style="text-align: center;
        position: relative;
        top: 30%;
        width: 62%;
        left: 18%;"><ion-skeleton-text animated style="width: 90%"></ion-skeleton-text></p>
        <p style="text-align: center;
        position: relative;
        top: 30%;
        width: 62%;
        left: 18%;"><ion-skeleton-text animated style="width: 90%"></ion-skeleton-text></p>
      </div>
    </ion-row>
  </div>