<ion-header>
  <ion-toolbar color="primary" *ngIf="segmentValue == 'schedule'">
    <ion-title>Penjadwalan</ion-title>
      <!-- <ion-buttons slot="end" >
        <ion-button (click)="openModal('setSchedule',conselings)">
          <ion-icon name="calendar"></ion-icon>
        </ion-button>
      </ion-buttons> -->
  </ion-toolbar>

  <ion-toolbar color="primary" *ngIf="segmentValue == 'conseling' || segmentValue == 'history-conseling'">
    <ion-title>Data Konseling</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="segmentValue = 'history-conseling'">
        <ion-icon name="time"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <!-- 
      PENJELASAN !
      element dibawah ini merupakan element external yang dipanggil dengan selector 
      contohnya app-list-conseling;
      app-list-conseling file fisiknya berada dalam folder conseling/list-conseling
      anda dapat melihat selector dalam file typescriptnya;
      untuk melakukan hal itu perlu di daftarkan kedalam module internal, dalam hal ini module home;
      home.module.ts terdapat declaration dan import entry component
    -->
    <app-list-conseling *ngIf="segmentValue == 'conseling'" ></app-list-conseling>
    <app-scheduler *ngIf="segmentValue == 'schedule'"></app-scheduler>
    <app-histories *ngIf="segmentValue == 'history-conseling'"></app-histories>
  </div>
</ion-content>

<ion-footer>
  <ion-segment color="primary" (ionChange)="segmentChanged($event)" [(ngModel)]="segmentValue">
    <ion-segment-button value="chat" (click)="serviceRoute.navigateTo('room-chat')">
      <ion-icon src="../../assets/images/svg/chatbox.svg"></ion-icon>
      <label style="font-size: 6px;">Konseling</label>
    </ion-segment-button>
    <ion-segment-button value="schedule">
      <ion-icon style="font-size: 24pt;" name="calendar" color="{{segmentValue == 'schedule' ? 'primary' : 'medium'}}"></ion-icon>
      <label style="font-size: 6px;">Jadwal</label>
    </ion-segment-button>
    <ion-segment-button value="conseling" >
      <ion-icon src="{{segmentValue == 'conseling' ? '../../assets/images/svg/folder-active.svg':'../../assets/images/svg/folder.svg'}}"></ion-icon>
      <label style="font-size: 6px;">Data Konseling</label>
    </ion-segment-button>
    <ion-segment-button (click)="serviceRoute.navigateTo('logout')" value="logout">
      <ion-icon src="../../assets/images/svg/close.svg"></ion-icon>
      <label style="font-size: 6px;">Keluar</label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
